<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
</head>
<body>
    <header>
        <div class="header-left">
            <button class="menu-button" id="menuButton">
                <div class="square-icon"></div>
            </button>
        </div>
        <div class="header-title"> </div>
    </header>
    <div class="side-menu" id="sideMenu">
        <div class="menu-links">
            <a href="/">Главная</a>
            <a href="/register">Регистрация</a>
            <a href="/login">Войти</a>
        </div>
    </div>
    <div class="overlay" id="overlay"></div>

    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>ООО "СчастьеГрад"</p>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const menuButton = document.getElementById('menuButton');
            const sideMenu = document.getElementById('sideMenu');
            const overlay = document.getElementById('overlay');

            menuButton.addEventListener('click', function() {
                sideMenu.classList.toggle('open');
                overlay.classList.toggle('active');
                document.body.classList.toggle('menu-open');
            });

            overlay.addEventListener('click', function() {
                sideMenu.classList.remove('open');
                overlay.classList.remove('active');
                document.body.classList.remove('menu-open');
            });
        });
    </script>
</body>
</html>